
#page-letter{
    width: 800px;
    float: left;
}
#letter-title[contenteditable] {
    outline: 1px dashed #ccc;
}
[contentEditable=true] {
    min-height: 1em;
    display: inline-block;
    position: relative;
    min-width: 25pt;
}
[contenteditable=true]:empty:before {
    content: attr(cvo-placeholder);
    color: #9197a3;
    font-weight: 100;
    padding: 3px;
}
#letter-title.non-printable {
    width: 790px;
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px
}
#cvo-profile-avatar-wraper {
    float: left;
    margin-right: 20px;
    padding: 0;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    border: 0;
    display: table;
    width: 172px;
    height: 172px;
}
#imageEditorWraper {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(155,155,155,.9);
    z-index: 22222222;
}
#imageEditorWraper .container {
    padding: 0;    
    min-height: 300px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #fff;
    overflow: hidden;
    width: 750px;
    text-align: center;
}
#imageEditorWraper h3 {
    width: 100%;
    padding: 5px;
    background-color: #1f8c67;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;margin-bottom: 0
}
#imageEditorWraper .editor-col-left {
    position: relative;
    overflow: hidden;
    width: 450px    
}
#imageEditorWraper .editor-col-left, #imageEditorWraper .editor-col-right {
    text-align: center;
    float: left;
}
#imageEditorWraper .editor-col-right {
    width: 300px;
}
#imageEditorWraper h4 {
    padding-top: 10px;
    font-weight: normal;
}
#imageEditorWraper .imageEditor {
    padding: 10px;
    width: 450px;
    height: 230px;    
    padding-bottom: 0;
    overflow: hidden
}
#imageEditorWraper .imageEditor, #imageEditorWraper .edit-image-btns {
    display: none;
}
.image-controls {
    margin-top: 5px;
    margin-bottom: 20px;
    display: none;
}
#imageEditorWraper .loadingShow {
    position: absolute;
    width: 450px;
    height: 450px;
    padding-top: 100px;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.9);
    color: #169f81;
    font-size: 16px;
}
.btn-choose-image {
    display: inline-block;
    height: 190px;
    vertical-align: middle;
    line-height: 60px;
    margin-top: 10px;
    width: 90%;
    color: #999;
    border: 2px dashed #0b85a1;
}
.btn-choose-image i {
    font-size: 50px;
    margin-top: 50px;
}
.image-control-group {
    display: inline-block;
    margin-right: 20px;
    border-radius: 3px;
}
.image-control-group .image-control-btn {
    display: inline-block;
    cursor: pointer;
    min-width: 30px;
    padding: 6px 12px;
    border: 1px solid #efefef;
    border-right: 0;
    font-size: 14px;
    background: #fff;
}
#imageEditorWraper .loadingShow i {
    font-size: 50px;
}
#imageEditorWraper .imageEditorControls {
    padding: 10px;
    width: 300px;
    text-align: center;
}
#imageEditorWraper .img-edit-preview {
    width: 160px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
#imageEditorWraper .img-edit-preview img {
    width: 100%;
}
#imageEditorWraper .btn-change-image {
    width: 76px;
    background-color: #4a8cf7;
    margin-right: 8px;
}
#imageEditorWraper .btn-remove-image {
    background-color: red;
    width: 76px;
}
#imageEditorWraper .btn-save-image {
    width: 160px;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: #1f8c67;
    color:#fff;
    border:0
}
#imageEditorWraper .btn-close-image-editor {
    margin-top: 5px;
    display: block;
    font-size: 14px;
    text-decoration: underline;
    color: red;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}
#imageEditorWraper .btn-change-image, #imageEditorWraper .btn-save-image, #imageEditorWraper .btn-remove-image {
    border: 0;
    display: inline-block;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    margin-top: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#imageEditorWraper .btn-change-image{
    padding:0;
}
[cvo-form-field]:hover {
    outline: 1pt dashed #77a5cc;
}
#cvo-toolbar {
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #eee
}
.toolbar-global-controls {
    height: 76px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 #ccc;
}
#cvo-toolbar .item {
    float: left;
    padding: 10px;
    border-right: 1px solid #eee;    
    text-align: center;
    color: #666;
    min-width: 100px;
}
#cvo-toolbar .item .options {
    margin-top: 7px;
}
#cvo-toolbar span.color {
    height: 22px;
    width: 22px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
}
#cvo-toolbar span.color .fa {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    display: none;
}
#cvo-toolbar span.color.active .fa {
    display: inline-block;
}
#font-selector{
    background: none;
    border:1px solid #ddd;
    color:#999;
    padding:4px;
}
#cvo-toolbar span.fontsize.active, #cvo-toolbar span.line-height.active {
    background-color: #666;
    color: #fff;
}
#cvo-toolbar span.fontsize, #cvo-toolbar span.line-height {
    display: block;
    float: left;
    margin: 0 2px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 23px;
    cursor: pointer;
}
#cvo-toolbar .item {
    float: left;
    padding: 9px;
    border-right: 1px solid #eee;    
    text-align: center;
    color: #666;
    min-width: 100px;
}
.btn-topcv-primary {
    background-color: #02b5e1;
    color: #fff!important;
}
#cvo-toolbar .item.button .title {
    margin-bottom: 5px;
}
#cvo-toolbar .item.button .fa {
    font-size: 26px;
}
.btn-topcv-primary:hover, .btn-topcv-primary:focus, .btn-topcv-primary:active {
    background-color: #ff9a00;
    cursor: pointer;    
}
#cvo-toolbar span.color:hover .fa {
    display: inline-block;
}
#cvo-toolbar span.fontsize:hover, #cvo-toolbar span.line-height:hover {
    background-color: #666;
}
#cvo-toolbar span.fontsize:hover .fa, #cvo-toolbar span.line-height:hover .fa {
    color: #fff;
}
#cvo-toolbar span.fontsize:nth-child(1), #cvo-toolbar span.line-height:nth-child(1) {
    font-size: 10px;
}
#cvo-toolbar span.fontsize:nth-child(3), #cvo-toolbar span.line-height:nth-child(3) {
    font-size: 18px;
}
#cvo-toolbar span.flag {
    display: inline-block;
    cursor: pointer;
    margin: 0 3px;
    position: relative;
}
#cvo-toolbar span.flag img {
    height: 22px;
    border: 1px solid #eee;
    border-radius: 3px;
}
#cvo-toolbar span.flag i.flag-selected {
    display: none;
    height: 10px;
    width: 10px;
    background-color: #1fbc89;
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
    right: -3px;
    border: 2px solid #fff;
}
#cvo-toolbar span.flag.active i.flag-selected {
    display: block;
}
#cv-form-text-editor {
    width: 100%;
    display: none;
}
.editor-controls-wraper {    
    width: 210mm;
    padding: 0;
    text-align: center;
    box-shadow: 0 1px 2px 0 #ccc;
    position: relative;
}
.editor-controls {
    color: #333;
    background-color: #fff;
    width: 210mm;
    margin: 0 auto;
    padding:5px 0;
}
.editor-control-group {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    border-radius: 3px;
}
.editor-control {
    float: left;
    cursor: pointer;
    min-width: 30px;    
    border: 1px solid #efefef;
    border-right: 0;
}
.editor-control-group .editor-control:last-child {
    border-right: 1px solid #efefef;
}
.disabled{
    position: relative;
}
.disabled:before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    cursor: not-allowed;
    z-index: 999;
}
.disabled .editor-control {
    color: #888;
    cursor: not-allowed;
}
.fx{
    position: fixed;
    top: 0;
    z-index: 999
}
.editor-control.actived{
    background: #02b5e1;
    color:#fff;
}
#lto-content{
 text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

#lto-user-to{
    vertical-align: top;
}

#lt-top p:first-child{
    font-size: 19px;
    font-weight: bold;
}
#lt-top p{
    font-size: 18px;
    font-weight: normal;
}
